.contactContainer {
    color: black;
    height: 90vh;
}

.mainContainer {
    height: 500px;
    width: 700px;

    padding: 5px;
    
    background-color: rgb(240, 255, 255, 0.5);

    border: 4px solid greenyellow;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.leftItem  {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;

}
.itemTwo {
    grid-column: 1 / span 2;
    
}
.itemThree {
    grid-column: span 1;

}

.displayFlexColCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flexJustifyContCenter {
    justify-content: center;
}


.text-center {
    text-align: center;
}

Button {
    border-radius: 10px;
}