.contactContainer {
    color: black;
    height: 90vh;
}

.mainContainer {
    height: 500px;
    width: 325px;

    padding: 5px;
    
    background-color: aliceblue;

    border: 4px solid greenyellow;
    border-radius: 15px;
}

.displayFlexColCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flexJustifyContCenter {
    justify-content: center;
}


.text-center {
    text-align: center;
}
