.personalContainer{

    height: auto;
    width: 100%;

    border: 10px solid greenyellow;
    border-radius: 100px;

}

.personalContainerMain {
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.7);

}

.personalUpperLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    


   
    position: relative;
    width: 70%;
    float: left;

    padding: 2%;
    margin: 25px;

    font-size: 16pt;
}

.personalUpperRight {
    text-align: center;
    width: 30%;
    position: relative;
    
}

.personalUpperRight img {
    position: absolute;
   
    height: auto;
    width: 125%;
    border-radius: 100px;
    float: right;
}



.personalContainerMiddle {
    font-size: large;
    font-weight: 600;
}

.skillsSection {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 100px;
}



 /* Misc. Style attributes */
.carousel-item {
    height: 575px;
    width: 100%;
}

.carousel-item img {
    object-fit:contain;
    height: 100%;
    width: 100%;
}

.carousel-caption {
    color: black;
}

/* Additional Styling */
.centerText {
    text-align: center;
}

.testBorder {
    border: 2px solid orangered;
}
