
.personalContainerUpper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
}



 /* Misc. Style attributes */
.carousel-caption {
    color: black;
}

/* Additional Styling */
.centerText {
    text-align: center;
}
