.contactForm-container {
    height: 400px;
    width: 350px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  
}

.contactForm-container form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
   
    
}

input{
    width: 275px;
    border-radius: 10px;
    border: 2px solid greenyellow;
}

.messageBox {

    height: 150px;
    width: 275px;
    border-radius: 10px;
    border: 2px solid greenyellow;
}

.submitBttn {
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
}