footer {
    
    height: 3vh;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}

.textWhite {
    color: white;
}