footer {
    height: 3vh;
    border: 3px solid lightgray;
    background-color: lightgray;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
}