.navbar {
    
    background-color: transparent;
    border-radius: 15px;
    background-image: rgba(255, 255, 255, 0.76);
}

.navbar-brand {
    color:greenyellow;
    
}

.nav-link {
    color:greenyellow;
}
