/* projects page styling */

.projectsContainer {
    color: black;
}


/* project styling */
.projectWrapper {
    height: 500px;
    width: 300px;
    border: 5px solid greenyellow;
    border-radius: 15px;

    padding: 1rem;

    background-color:  azure;
    box-shadow: 5px 5px 10px black;
}


.projectImage {
    
    height: 255px; /* fix after format pictures*/
    width: 255px;
    border: 3px solid greenyellow;
    border-radius: 15px;
}

.card-inner {
    height: 175px;
    width: 255px;

    margin: 10px;
    padding: 5px;

    border: 3px solid greenyellow;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
}

.project-desc {
    height: 110px;
}

.card-inner  button {
    border-radius: 7px;
}

.card-inner  a {
    text-decoration: none;
}


/* additional style tags */
 .displayFlexColCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.displayFlexRow {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 5em;
}

.hoveredOver {
    background-color: greenyellow;
}


@keyframes shakeAnimation {
    0% {
        transform: rotate(0);
      }
      25% {
        transform: rotate(-2deg);
      }
      50% {
        transform: rotate(2deg);
      }
      75% {
        transform: rotate(-2deg);
      }
      100% {
        transform: rotate(0);
      }
  }
  
  .shake-animation {
    animation: shakeAnimation 0.5s infinite;
  }
  
      
  

