/* projects page styling */
.projectsContainer {
    color: black;
    height: 90vh;
}



/* project styling */
.projectWrapper {
    height: 500px;
    border: 2px solid blue;
    border-radius: 15px;

    padding: 1rem;

    background-color: aliceblue;
    box-shadow: 5px 5px 10px blue;
}

.projectImage {
    
    height: 225px; /* fix after format pictures*/
    width: 225px;
    border: 3px solid black;
    border-radius: 15px;
}



/* additional style tags */
.displayFlexColCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayFlexRowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.displayGridTwoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 4rem;
}

.marginTop10perc {
    margin-top: 10%;
}

/* .testBorder {
    border: 2px solid greenyellow;
} */